.cool-button {
	border: none;
	cursor: pointer;
	border-radius: 6px;
	font-size: 16px;
	padding: 6px 14px;
}

.cool-button.cool-button--primary {
	background-color: var(--primary-color);
	color: white;
}

.cool-button.cool-button--secondary {
	background-color: #ffffff;
	border: 1px solid #c4c4c4;
}

.cool-button.cool-button--accent {
  background-color: var(--accent-color);
  color: white;
}

.cool-button.cool-button--error {
	background-color: #ffffff;
	border: 1px solid var(--error-color);
	color: var(--error-color);
}

.cool-button.cool-button--icon {
	padding: 6px;
	height: 36px;
	width: 36px;
}

.cool-button.cool-button--standard-icon i {
  margin-right: 8px;
}

.cool-button.cool-button--disabled {
  filter: grayscale(1);
  pointer-events: none;
  opacity: .6;
}
