.survey-question {
    width: 100%;
    border: 1px solid black;
    padding: 10px;
}

.survey-question__form {
    display: grid;
    grid-template-columns: 1fr;
    grid-row-gap: 6px;
}

.survey-question.survey-question--focused {
    border-color: pink;
}

.survey-question__answer-option {
    display: grid;
    grid-template-columns: 16px 1fr min-content;
    align-items: end;
    grid-column-gap: 8px;
}

.survey-question__answer-option.survey-question__answer-option--not-focused  {
    grid-template-columns: 16px 1fr;
    align-items: center;
}

.survey-question__answer-option p {
    margin: 0;
}

.survey-question__radio-circle,
.survey-question__checkbox-square {
    height: 16px;
    width: 16px;
    border: 1px solid #c4c4c4;
}

.survey-question__radio-circle {
   border-radius: 100%;
}

.survey-question__footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}