.survey-screen__content {
  padding: 10px;
  background-color: var(--background-color);
  min-height: calc(100% - 59px);
}

.survey-screen__content h1 {
  margin-bottom: 20px;
}

.survey-screen__questions {
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 10px;
  padding-bottom: 60px;
}

.survey-screen__footer {
  display: flex;
  justify-content: flex-end;
  padding: 10px;
  position: fixed;
  bottom: 0;
  width: 100%;
  right: 0;
  border-top: 1px solid lightgrey;
  background-color: var(--background-color);
}
